* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 10px */
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

.header {
    position: fixed;
    width: 100vw;
    background-color: #28b485;
    display: flex;
    height: 3.5rem;
    /* Trzeba ustawic bo jest brzydko  */
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    z-index: 1;
}

.header__title {}

.header__iconBox {
    width: 2rem;
    height: 2rem;
}

main {
    position: absolute;
    top: 5rem;
    display: flex;
    align-items: flex-start;

}

.column {
    margin: 0 1rem 1rem 1rem;
    width: calc(100vw - 2rem);
    max-width: 45rem;
    min-height: 10rem;
    background-color: #7ed56f;
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: 2px solid #28b485;
}

.column__title {
    height: 3rem;
    padding: .5rem;
    outline: 0;
}

.column__tasksContainer {
    overflow: scroll;
    /* 10rem ma .column + 5rem main(absolute) top + 1 rem margin-bottom */
    max-height: calc(99.5vh - 16rem);
}

.column__task {
    outline: 0;
    margin: .5rem;
    padding: .5rem;
    background-color: #55c57a;
    border: 2px solid #28b485;
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.column__task:hover {
    cursor: pointer;
}

.btn {
    outline: 0;
    margin: .5rem;
    padding: .5rem;
    width: 12rem;
    height: 4rem;
    background-color: #fff;
    border: 2px solid #28b485;
    border-radius: .5rem;
}

.btn:hover {
    cursor: pointer;
    background-color: #bbb;
}

.btn:active {
    transform: translateY(1px);
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2); */
}

.title,
.desc {
    pointer-events: none;
}



/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

.sortable-ghost {
    opacity: 0;
}


/* Modal */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    /* margin: 10% auto; */
    padding: 2rem;
    width: calc(100vw - 2rem);
    max-width: 60rem;
    background-color: #7ed56f;
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: 2px solid #28b485;
}

.close {
    position: absolute;
    right: 3%;
    top: 0%;
    color: #ccc;
    font-size: 30px;
    color: #fff;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal__text-area {
    /* width: 95%; */
    outline: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: .5rem;
    background-color: #55c57a;
    border: 2px solid #28b485;
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.modal__description {
    min-height: 15rem;
}

/* Kosz */
.binColorContainer {
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: rgb(255, 77, 77);
    height: 3.5rem;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.binContainer {
    position: absolute;
    top: 0;
    z-index: 10;
    background: url(bin.png);
    background-size: 2%;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 3.5rem;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}